.App {
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
textarea, .main-area{
  background-color: #3e3e42 !important;
  color: white !important;
  height: 95% !important;
}
.main-area{
  border: 1px solid white;
  padding: .75rem;
  overflow-y: scroll;
}
.table{
  border: 1px solid white;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  margin: 1rem;
  background-color:  	#252526;  
  width: 90% !important;
  height: 90% !important;
  
}
.title{
  color: white;
  font-weight: bold;
}

img {
  max-width: 100px; 
}