:root{
  --color1: #fdc500;  /* yellow */
  --color2: #00509d;  /* blue */
  --color3: #6798c0;  /* light blue */
}
*{  font-family: Helvetica sans-serif;}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Helvetica sans-serif;
  color: #fffdf7;
}

header{
  background-color: var(--color1);
  font-size: 20px;
  text-align: center;
  padding: 10px;
  max-width: 80%;
  margin-left: 10%;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px var(--color1);
}

body {
  /* background-image: url("background-galaxy.jpg"); */
  /* background-color: #6798c0; */
  background-size: cover;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

table{
  font-size: 13px;
  /* border: solid #fdc500; */
  padding: 5px;
  display: inline-block;
}
caption{  font-size: 17px;}
thead{  font-size: 14px;}
tbody td {  width: 300vw;  max-width: 9rem;}
tfoot{  font-size: 12px;}

table, th, td{
  /* border: 1px solid black; */
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
th{
  border-bottom: 1px solid black;
}

span.bold{   font-weight: bold;}
table tbody tr:hover {background-color: #99d6ea; } /* color: #6798c0;*/

.box,.box2,.box3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  font-size: 13px;
}

.box{
  height: 310px;
  width: 470px;
  background-color: var(--color2);
  box-shadow: 0 0 2px 2px var(--color2);
}

.box2{
  height: 250px;
  width: 320px;
  background-color: var(--color3);
  box-shadow: 0 0 2px 2px var(--color3);
}

.box3 h2{ display:inline-block;}
.box3{
  background-color: #6798c0;
  box-shadow: 0 0 2px 2px #6798c0;
}


a {  color: var(--color1); text-decoration: none;}
a:visited {  color: pink;}

.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
