:root{
  --yellow:     #fdc500;
  --blue:       #00509d;
  --light-blue: #6798c0;
}

/* *{
  box-sizing: border-box;
  border: red solid 1px;
  } */
html{
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  color: #fffdf7;
  margin: 2rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  gap: 1rem;
  grid-auto-rows: 100px;
  text-align: center;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 5px red;
  align-items: center;
  font-size: 1.2rem;
}
.box1 {
  grid-area: 1 / 1 / span 3 / span 1;
  font-size: 17px;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  background-color: var(--blue);
}
.contacts{
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  align-self: center;
}
.fa-house, .fa-envelope, .fa-phone, .fa-linkedin-in, .fa-github, .fa-instagram {
  color: white;
}
.box2 {
  grid-area: 1 / 2 / span 1 / span 2;
  color: var(--blue); background-color: var(--yellow);
}

.box3{
  grid-area: 2 / 2 / span 4 / span 1;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.box5{
  grid-area: 4 / 1 / span 2 / span 1;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.box4 {
  grid-area: 2 / 3 / span 3 / span 1;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}
.box6{
  grid-area: 5 / 3 / span 2 / span 1;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}
table{
  width: 80%;
  align-self: center;
}
h1{ font-size: 4rem; letter-spacing: 1.4px;}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #202020;
  color:  #F5F5F5;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 10%;
  top: 95%;

  font-size: 1.7rem;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

caption, h2{
  font-size: 1.7rem;
  width: 100%;
  background-color: purple;
  letter-spacing: 1.2px;
}

thead{ font-size: 1.4rem;}
tfoot{ font-size: 1.1rem;}
table, th, td{  border-collapse: collapse;}
th, td {  padding: 0.3rem; }
thead th{   border-bottom: 1px solid black; }

table tbody tr:hover {background-color: #99d6ea; } /* color: #6798c0;*/

p, ul {
  padding: 0;
  margin: 0;
}
ul li {  list-style-type: none;}

.list-head{
  font-size: 1.4rem;
  font-weight: bold;
}
/* a {  color: var(--color1); text-decoration: none;}
a:visited {  color: pink;} */
/* a:hover{background-color: black;} */

.box7{
  grid-area: 6 / 1 / span 1 / span 2;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
