.flex-center {  display: flex; justify-content: center; align-items: center;}

.box {
  padding: 1.5rem; 
  min-width: 35%;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}
#start {
  background-color: var(--indigo);
  color: white;
  border-radius: 20px;
  padding: 5px 15px ;
}
#stop, #restart{
  color: var(--indigo);
  border-radius: 50%;
  border: 1px solid var(--indigo);
  width: 50px; height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.border1{
  border:  1px solid #6f32a8;
  border-radius: 50%;
  height: 300px;  width: 300px;
  position: relative;
}
.border2{
  position: absolute;
  top: -6px; left: -6px;
  height: 310px;  width: 310px;

  background:
    linear-gradient(white,white) padding-box,
    conic-gradient( var(--indigo), var(--sky), var(--green),  var(--sky), var(--indigo)) border-box;
  border-radius: 50em;
  border: 10px solid transparent;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

/* The close button */
.closebtn {
 margin-left: 15px;
 color: white;
 font-weight: bold;
 float: right;
 font-size: 22px;
 line-height: 20px;
 cursor: pointer;
 z-index: 1;
}
.closebtn:hover { color: var(--indigo);}


@media only screen and (max-width: 950px) {
  html{  font-size: 130%;}
  .border1{    height: 200px;  width: 200px;  }
  .border2{    height: 210px;  width: 210px;  }
  #stop, #restart{ width: 40px; height: 40px; }
}
