:root{
  --indigo:     #6958a6;
  --green:      #5ab685;
  --sky:        #36989b;
}
html{ font-size: 160%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, var(--green), var(--sky), var(--indigo));
  display: flex; justify-content: center; align-items: center;
  height: 100vh;
}

