.line-2 {
    width: 1920px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #333;
    margin-top: 29px;
  }
  
  .flex-container-5 {
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 13px;
    font-size: 1rem;
    display: flex;
  }
  
  .instagram {
    align-self: center;
  }
  
  .num-2022-vechna-prva {
    color: #fffc;
    margin-left: 360px;
  }