<div class="home-container">
    <div class="home-home">
        <div class="home-group7">
            <div class="home-group6">
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/5729f483-5081-4ec9-b785-cfb19fd5882f/2ad19b96-03bd-4ea8-b7c4-cd74ad951ca8?org_if_sml=1114478"
                    alt="Ellipse198" class="home-ellipse1" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/5729f483-5081-4ec9-b785-cfb19fd5882f/7bd09b02-2684-4776-a465-87ebc22ccfaf?org_if_sml=1312372"
                    alt="Ellipse299" class="home-ellipse2" />
            </div>
            <span class="home-text"><span>Full Stack Developer</span></span>
            <span class="home-text02"><span>DevRos</span></span>
            <span class="home-text04">
                <span>
                    <span>
                        Potřebujete vytvořit webové stránky ? Při tvorbě webových stránek
                        zajišťuji celkový design od návrhu až po realizaci. Perfektní
                        technickou stránku zajistišťuji též, aby všechno běželo přesně jak
                        má. Kdyby by Vás mé portofilo přípradně zkušenosti zaujaly - napište
                        mi !
                    </span>
                    <br />
                    <span></span>
                </span>
            </span>
        </div>
        <div class="home-group8">
            <span class="home-text09"><span>Kontakt</span></span>
        </div>
        <div class="home-group81">
            <span class="home-text11"><span>Portfolio</span></span>
        </div>
        <div class="home-group9">
            <span class="home-text13"><span>Youtube</span></span>
            <span class="home-text15"><span>Instagram</span></span>
            <span class="home-text17">
                <span>
                    <span>
                        Facebook
                        <span></span>
                    </span>
                    <br />
                    <span></span>
                </span>
            </span>
            <img src="/playground_assets/line2920-soj.svg" alt="Line2920" class="home-line2" />
            <span class="home-text22">
                <span>
                    <span>© 2022 Všechna práva vyhrazena.</span>
                    <br />
                    <span></span>
                </span>
            </span>
        </div>
        <div class="home-group10">
            <span class="home-text27">
                <span>
                    <span>Back-end skills</span>
                    <br />
                    <span></span>
                </span>
            </span>
            <span class="home-text32">
                <span>
                    <span>Front-end skills</span>
                    <br />
                    <span></span>
                </span>
            </span>
            <span class="home-text37">
                <span>
                    <span>
                        Portfolio
                        <span></span>
                    </span>
                    <br />
                    <span></span>
                </span>
            </span>
            <span class="home-text42">
                <span>
                    <span>
                        Kontakt
                        <span></span>
                    </span>
                    <br />
                    <span></span>
                </span>
            </span>
            <span class="home-text47"><span>Domů</span></span>
        </div>
        <div class="home-group11">
            <span class="home-text49">
                <span class="home-text50">Dev</span>
                <span>Ros</span>
            </span>
            <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/5729f483-5081-4ec9-b785-cfb19fd5882f/76205d1d-faa3-4da4-8f64-bc2f32159b3f?org_if_sml=1987"
                alt="Ellipse3936" class="home-ellipse3" />
            <span class="home-text52">R</span>
        </div>
    </div>
</div>