:root{
  --darker-blue:  #001d3d;
  --dark-blue:    #11296b;
  --blue:         #00509d;
  --light-blue:   #6798c0;
  --lighter-blue: #99d6ea;
}
*{
  box-sizing: border-box;
  border: 1px solid red;
}
html { color:var(--darker-blue); font-size: 62.5%;}
head, body{
  margin: 0; padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  /* letter-spacing: 1.5px; */
}

/******************************************************************/
header{
  display: flex;
  justify-content: flex-end;
}
ul {list-style-type: none;}
.header-div{  width:100%; }
.header-div ul {
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  margin: 0;  padding: 0;
  overflow: hidden;
  background-color: var(--dark-blue);
  box-shadow: 1px 1px 5px grey;
  font-size: 1.5rem;
  z-index: 1;
}
.header-div li {  float: right; }
.header-div li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
a:hover{
  background-color: var(--darker-blue);
  border-radius: 5px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#header-img {position: fixed; top:0; left:0; height: 6.4rem; z-index: 3;}
.logo-title h1 {
  z-index: 2;
  font-family: "Lato"; letter-spacing: 1.2px;
}
.logo-title{
  display: flex; justify-content: flex-end;
  position:fixed; z-index: 2;
  left: 0; top:0; height: 6.4rem; min-width: 33rem;
  background-color: white; padding-right: 1rem;}

/******************************************************************/
body{
  background-image: url(../pic/ocean.jpg);
  background-attachment: fixed;
  background-size: 100vw 100vh ;
  margin-top: 6rem;
}
section{
  height: 100vh; width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  top:-6rem;
  font-size: 1.5rem;
  /* margin-top: -6rem; */
}
.wrapper{
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: rgba(250,250,250,0.7);
}
.total-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right{
  grid-area: 1 / 2 ;
  object-fit: cover;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.left-div{
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******************************************************************/
.right:not(.strange){align-self: center;}
.left-div h1{
  text-align: center;
  font-size: 6rem;
  margin-top: 1rem;
  color: var(--dark-blue);
}
.section-title{
  color: var(--dark-blue);
  /* margin-top: 8rem; */
  text-align: center;
  font-size: 4rem;}

#fish-video{width:90%; height:90%;}

span, i {
  font-size: 3rem; font-weight: bold;
  color: var(--dark-blue);
  margin-left: 1rem;}
li::marker {
  color: var(--dark-blue);
  font-size: 4em;
  margin-left: 10px;
}
ol {list-style-position: inside;}

/******************************************************************/

#animation-fish, #animation-fish2 {position: absolute; width: 20rem;}
#animation-fish{
  animation: 2s infinite bounce;
  top: 26rem; right:30rem;
}
#animation-fish2{
  animation: 2s infinite swing;
  top: 46rem; right:40rem;
}

#how_it_works p {margin-top: 1rem;}
#how_it_works h1 {margin-bottom: 1rem;}
/******************************************************************/

#pricing, #form-section {height:50vh;}
table caption {margin-bottom: 2rem;}
table{
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}
th {
  background-color: var(--dark-blue);
  color: white; border: solid 1px white;
  padding: 1rem;
  font-size: 2rem;
}
td{
  border: solid 1px var(--dark-blue);
  padding: 1rem;
  font-size: 1.5rem;
}
#submit {
  background: var(--blue);
  color: white;
  padding: 0.5rem;
}
/******************************************************************/


.form-div{
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  width:30%; height:20rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;}
footer{ margin-top: 1.5rem;}

/******************************************************************/
.shifter{ margin-top: 6rem;}

@media only screen and (max-width: 1200px) {
  html {  font-size: 50%;}
  #animation-fish{  top: 26rem; right:20rem; }
  #animation-fish2{    top: 46rem; right:30rem;  }
}
@media only screen and (max-width: 1000px) {
  #presentation h1{ font-size: 5rem;}
  #fish-video {width:70%; height:70%;}
  #animation-fish{    top: 26rem; right:10rem;  }
  #animation-fish2{    top: 46rem; right:20rem;  }
  #fish-pic {width: 70%;}
  table, .form-div {width: 70%;}
  .logo-title h1 {margin-left: 7rem; padding-right: 1rem;}
}
@media only screen and (max-width: 700px) {
  html {  font-size: 40%;}
  .total-div{ display: flex; flex-direction: column;}
  #animation-fish{    top: 76rem; right:30rem;  }
  #animation-fish2{    top: 96rem; right:40rem;  }
  .right{ height: auto;}
  #fish-video {width:70%; height:40rem;}
  #cute-fish {width:90%; height:70%;}
  .form-div{ height: 30rem;}
}
@media only screen and (max-width: 520px) {
  html {  font-size: 30%;}
  #animation-fish{    top: 96rem; right:30rem;  }
  #animation-fish2{    top: 126rem; right:40rem;  }
  /* #presentation h1{font-size: 8rem;} */
  /* .project-wrap{ display: flex; flex-direction: column;} */
  }
}
