body::before {
  display:block;
  content: '';
  height:60px; /* or whatever */
}
* {
    box-sizing: border-box;
    border: 1px solid red;
}
.fa-play, .fa-pause {padding-right: 10px;}
#start {
  background-color: #6f32a8;
  color: white;
  border-radius: 20px;
  padding: 5px 15px ;
}
#stop, #restart{
  color: #6f32a8;
  border-radius: 50%;
  border: 1px solid #6f32a8;
}
#stop {padding: 10px 13px;}
#restart{padding: 10px;}
.btn {margin: 10px;}
.buttons, .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {margin-top: 10px;}
.container{
  flex-direction: column;
}
.border1{
  border:  1px solid #6f32a8;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center; align-items: center;
}
