:root{
  --fuxia:       #ff3399;
  --light-fuxia: #ff85c2;
}
/* *{
  box-sizing: border-box;
  border: red solid 1px;
  } */
html { height: 100vh;}
body{
  background-image: url(https://i.ibb.co/89b3N47/Wallpaper-Dog-10855091.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: var(--fuxia);
  text-align: center;
}
.btn {background-color: var(--fuxia); color: white;}
.btn:hover{background-color: var(--light-fuxia);}
a{color: var(--light-fuxia);}
a:hover{color: purple;}
img{  max-height: 500px;}
h3{ font-style: italic; color: var(--light-fuxia);}

figcaption, footer{font-size: 15px;}
#quote-text{height: 80%;}
#author{text-align: right; margin-right: 20px}
